.container {
    display: flex;
    flex-wrap: wrap;



    .wrapper {
        width: 20%;
    }


    font-family: 'Roboto Slab', serif;
}


.person {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 1px 1px;
    text-align: center;
    display: inline-block;

    .titel{
        font-weight: bold;
    }

    .image {
        padding: 10px;



        img {
            border-radius: 50%;
            width: 100%;
        }
    }

    .text {
        padding: 10px;
    }

    padding:10px;



    .link {
        padding: 10px;



        a.button {
            background-color: rgb(28, 204, 22);
            border-radius: 4px;
            text-align: center;
            border: 10px solid rgb(28, 204, 22);
            display: block;
            color: black;
            text-decoration: none;
        }
    }



}