*{
    text-align: center;
}
table{
    text-align: center;
    margin: auto;
    color: blue;
    padding-bottom: 20%;
}
td{
    text-align: left;
    font-size: large;
    margin-bottom: 50px;
    padding-top: 10px;
}
.main{
    border-right: 2px;
    background-color: #a4daeb;
    margin-left: 30%;
    margin-right: 30%;
}
body{
    background-color: #328da8;
}
.logo{
    height: 200px;
}
h1{
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.table_main{
    padding-right: 50px;

    text-align: top;
    
}